<nz-layout class="app-layout">
  <nz-header class="top-shell">
    <div class="top-bar">
      <a routerLink="/" class="brand">
        <img src="assets/brand/invenzo-logo.svg" alt="Invenzo" />
      </a>

      <nav class="module-nav" aria-label="Primary navigation">
        <a
          *ngFor="let item of filteredMenuItems"
          class="module-link"
          [class.active]="isTopItemActive(item)"
          [routerLink]="item.link || item.children?.[0]?.link"
        >
          <span nz-icon [nzType]="item.icon"></span>
          <span>{{ item.title }}</span>
        </a>
      </nav>

      <div class="header-right">
        <a routerLink="/inventory/stock" class="quick-link">
          <span nz-icon nzType="inbox"></span>
          Stock
        </a>

        <a
          nz-dropdown
          [nzDropdownMenu]="menu"
          nzTrigger="click"
          class="user-dropdown"
        >
          <nz-avatar [nzText]="userInitials" nzSize="small"></nz-avatar>
          <span class="user-name">{{ userName }}</span>
          <span nz-icon nzType="down"></span>
        </a>

        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item>
              <span nz-icon nzType="user"></span>
              Profile
            </li>
            <li nz-menu-item routerLink="/settings/company">
              <span nz-icon nzType="setting"></span>
              Settings
            </li>
            <li nz-menu-divider></li>
            <li nz-menu-item (click)="logout()">
              <span nz-icon nzType="logout"></span>
              Logout
            </li>
          </ul>
        </nz-dropdown-menu>
      </div>
    </div>

    <div class="sub-tab-bar" *ngIf="activeChildren.length">
      <a
        *ngFor="let child of activeChildren"
        class="sub-tab"
        [class.active]="isChildActive(child.link)"
        [routerLink]="child.link"
      >
        {{ child.title }}
      </a>
    </div>
  </nz-header>

  <nz-content>
    <div class="inner-content">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
</nz-layout>
